MOODLE_DOCKER_WWWROOT=/var/www/html
MOODLE_DOCKER_PHP_VERSION=8.2
MOODLE_DOCKER_BROWSER=firefox
MOODLE_DOCKER_DB_VERSION=mysql:8.0

MOODLE_DATA=/var/www/moodledata
MOODLE_ADMIN=admin
MOODLE_URL=https://develop.ivana.academy


# Database configuration - Equal values in db.env
MOODLE_DBTYPE=mariadb
MOODLE_DBLIB=native
MOODLE_DBHOST=db
MOODLE_DBNAME=moodle
MOODLE_DBPFX=mdl_
MOODLE_DBCOLLATION=utf8mb4_bin
