-----BEGIN CERTIFICATE-----
MIIDGzCCAgOgAwIBAgIUBhUz/OU6kDOSdzYRhRM6sGkHjDwwDQYJKoZIhvcNAQEL
BQAwGDEWMBQGA1UEAwwNZGV2ZWxvcC5sb2NhbDAeFw0yNjA0MjEwMjQ5MzZaFw0y
OTAyMDgwMjQ5MzZaMBgxFjAUBgNVBAMMDWRldmVsb3AubG9jYWwwggEiMA0GCSqG
SIb3DQEBAQUAA4IBDwAwggEKAoIBAQCXLJz1h+LEFG7JTbo0BeyTQgTbRQWV/M+O
bXM4QgM48rUMGtB454jVJhMY6hdj4MvP/3uOTc/frTNENlxOuGbANwMdEqTGf4SV
BJ4C7Hbp6SFXWtJoB6/Be84ydrz8q7WQH7WEq85sOxHA7V29CgKfa04BmTWN+zys
ZpOZ1q7EDZW+l2YSEIh1umhjfpHYuIlONgolKc7DjVuueEDyZFhaxuz6K71PjBU/
mz5EA7AouHXQFjVDNmZcg1COZ+xMf+HjczJjT8xQpswz4UZbqVsVJ4bxvbiPAqZy
E8048T5b/c9iV6baIdk8GEneLga89wAHif0KndPrAldRFEYNDdGXAgMBAAGjXTBb
MBgGA1UdEQQRMA+CDWRldmVsb3AubG9jYWwwCwYDVR0PBAQDAgeAMBMGA1UdJQQM
MAoGCCsGAQUFBwMBMB0GA1UdDgQWBBSDF1Agey/DJey0YXSyNKAsBJQ1SzANBgkq
hkiG9w0BAQsFAAOCAQEAEQTMjECWES/uUH2Q0v81FpA2XHg4WpCsCMwmnpJBy9m1
Zm8K/JaxpgMUF+xK5rMnuzUFlbv6SFP+KcK8aJ2ukMPDZGcn+2S2jcI4jNGlq1as
NglGLUYmXgY/jrBq2neN9I+NQIaHkJbdi+CVA3NATUfW4Mvks59IyKL/sXx+EvRT
IlOyFCUWXspSBqdl8iOe7BtVXuYoRiO2cVuJyt95ov9wPejgyBXN19iULzW9XspS
exNMwbTuUGSAXX1nIc1aV52gUZxpj11bgb63R/335Jh10SAqZuLlGBgRjHFPMQCr
qSlSC4WRzG+FTAg63Fm/wq5SyLRUFb3Wpb9l6SwHLg==
-----END CERTIFICATE-----
